<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <form action="/Registration", method="POST"> 
        <h1 style="text-align: center; color:blue">SignUp Here</h1>
        <div class="form-group">
            <input type="text" name="fname" class="form-control" id="exampleInputFname1" placeholder="Your Name Plese">
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" id="exampleInputemail1" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="number" name="contact" class="form-control" id="exampleInputNumber1" placeholder="Contact">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>