<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    <form action="\secret" method="Post">
        <h1>This is My Secret</h1>
      
        
    </form>
    <button type="submit"> <a href="/logout">LogOut</a></button>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</body>
</html>
